# {{ ansible_managed }}
{% for ns in dns_nameservers -%}
nameserver {{ ns }}
{% endfor %}
{% if dns_domain | length > 0 -%}
domain {{ dns_domain }}
{% endif %}
{% if dns_search_domains | length > 0 -%}
search {{ dns_search_domains | join(" ") }}
{% endif %}
